* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: antiquewhite;
}

#color-container {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: rgb(46, 39, 39);
    font-weight: 700;
    text-align: center;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#hexadecimal {
    position: absolute;
    top: 37%;
}
.container input {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 2px;
    text-indent: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container input[type="text"]:focus {
    outline: none;
}
